#wrapper{
	margin-right:auto;
	margin-left: auto;
}

html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	background-color: #fefefe;
	overflow-x: hidden;
	height: 100%;
}

/*---------------------------------------------a links--------------------------------------*/
a:link{text-decoration: none;}
a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
a:active{text-decoration: none;}
/*-------------------------------------------------------------------------------------------*/

/*---------------------------------------------Navigation Bar--------------------------------*/
#navbar{
	font-family: 'Quicksand', sans-serif;
	font-size: 1.4em;
	overflow: hidden;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	position: relative;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 4%;
	/*left: 40%;*/
}

#navlist{
	color: #000000;
	position: relative;
	float: left;   
	text-decoration: none;
	margin-left: 14.5%;
	width: 100%;
}

#navlist ul li{
	float: left;
	list-style-type: none;
	margin-left: 3%;
	margin-right: 3%;
}

#navlist ul li a{
	color: #000;
	text-align: center;
}

#navlist ul li {color: #000000;}

#navlist ul li a:hover{
	color:#ffe063;
	/*font-weight: 600; */
}

#logo #top-logo{
	transition: all 0.22s ease-in 0s;
	-o-transition: all 0.22s ease-in 0s;
	-moz-transition: all 0.22s ease-in 0s;
	-webkit-transition: all 0.52s ease-in 0s;
	opacity: 1;
}

#logo #bot-logo{
	transition: all 0.22s ease-in 0s;
	-o-transition: all 0.22s ease-in 0s;
	-moz-transition: all 0.22s ease-out 0s;
	-webkit-transition: all 0.52s ease-out 0s;
	opacity: 0;
}

#logo #top-logo:hover{
	transition: all 0.22s ease-in 0s;
	-o-transition: all 0.22s ease-in 0s;
	-moz-transition: all 0.06s ease-out 0s;
	-webkit-transition: all 0.18s ease-out 0s;
	opacity: 0;
}

#logo #bot-logo:hover{
	transition: all 0.22s ease-in 0s;
	-o-transition: all 0.22s ease-in 0s;
	-moz-transition: all 0.06s ease-in 0s;
	-webkit-transition: all 0.18s ease-in 0s;
	opacity: 1;
}
/*-------------------------------------------------------------------------------------------*/

/*--------------------------------CONTENT----------------------------------------------------*/
#content{
	width: 100%;
	height: auto;
	margin-top: 7%;
	position: relative;
	float: left;
}

#content #contactme, #call{
	font-family: 'Quicksand', sans-serif;
	color: #000;
	font-size: 2.2em;	
	position: relative;
	float: left;
	margin-left: 30%;
	width:40%;
	margin-right: 30%;
	text-align: center;
}

#content #mail, #number{
	font-family: 'Quicksand', sans-serif;
	color: #000;
	font-size: 3.7em;	
	position: relative;
	float: left;
	margin-left: 25%;
	width: 50%;
	margin-right: 25%;
	text-align: center;
	margin-bottom: 4%;	
}


/*-------------------------------------------------------------------------------------------*/